body{
	width: 100%;
	height: 100%;
	background-image: url(img/filmcalif.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.logo {
	width: 50px;
	padding: 0px;
	margin-left: 4px;
	margin-top: 8px;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 4rem;
	color: white;
	background: black;
	line-height: 4rem;
	transform: translateY(0);
	transform: translate3d(0,0,0);
	transition: .25% transform;
	backface-visibility: hidden;
}

.header h1 {
	float: left;
	font-size: 1.4rem;
	margin: 0 0 0 2rem;
	text-transform: uppercase;
}

.header nav {
	float: right;
	font-size: 1.4rem
}

.header nav ul {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 1.4rem;
	margin: 0 0 0 2rem;
	text-transform: uppercase;
}

.header nav li {
	display: inline-block;
	padding: 0 15px;
	cursor: pointer;
}

.header nav li a {
	text-decoration: none;
}

.header nav li:hover {
	height: 4rem;
	background: gray;
}

.word {
	text-align: center;
}

.archive {
	font-size: 80px;
	color: white;
}

.categories {
	background-color: white;
}

section {
	color: white;
	padding: 10rem 6rem;
}

section h1{
	font-size: 60px;
}
section p{font-size: 22px;
}

.rent {
	font-size: 25px;
	background-color: Gray;
	width: 90%;
	color: blue;
}

.movies{
	float: left;
	width: 20%;
	padding: 7px;
}

.films{
	float: left;
	width: 15%;
	padding: 7px;
}

.clips {
	font-size: 40px;
	color: red;
}

.site {
	padding: 8px;
	margin-top: 15px;
}

.popular {
     font-size: 45px;
}

.favourite {
	 font-size: 25px;
}

.linkto {
	color: blue;
}

.company {
	font-size: 50px;
}

.address {
	text-align: center; 
	background-color: black;
}

.socialmedia {
    color: white;
    font-size: 20px;
}

.best {
	text-align: center;
}

.radfilmrentalz {
	text-align: right; 
	font-style: ;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}


.form{
	background-color: grey;
	z-index: 1;
	max-width: 360px;
	margin: 0 auto 100px;
	margin-top: 10px;
	padding: 45px;
	text-align: center;
	position: relative;

}

.form input{
	font-family: "Roboto"
	outline: 1;
	background-color: white;
	width: 100%;
	border: 0;
	margin: 0 0 15%;
	padding: 15px;
	box-sizing: border-box;
	font-size: 16px;
}

.form button{
	font-family: "Roboto";
	text-transform: uppercase;
	outline: 0;
	background: green;
	width: 100%
	border: 0;
	padding: 15px;
	color: blue;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background-color: lightGreen;
}

.form .message{
	margin: 15px 0 0;
	font-size: 18px;
}

.form .message a{
	color: blue;
	text-decoration: none;
}

.form .registeration-form{
	display: none;
}

.awe {
    width: 50%;
    height: 7px;
}

.site {
	padding: 8px;
	margin-top: 15px;
}













